<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">

<div class="container-fluid footer-main">
    <div class="row">
        <div class="col-sm">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <h4 class="footer_baslik">
                            Ovasan Teknik Mühendislik
                        </h4>

                        <span class="footer_metin">
                            Elektrik, elektronik ve endüstriyel çözümlerde güvenilir
                            mühendislik hizmetleri sunuyoruz.
                        </span>
                    </div>
                    <div class="col-sm" style="text-align: end;">
                        <br><br>
                        <img src="{{ url_for('static', filename='img/main/mainlogo.png') }}"
                            alt="logo footer" style="width: 200px;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <br>
                        <hr style="border: 1px solid white;">
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <h4 class="footer_logoyer">
                            OVASAN
                        </h4>
                        <p>Çerkeşli İMES OSB. İMES 1 Bulvarı No:2/B-14
                            <br> Dilovası-Kocaeli</p>
                    </div>
                    <div class="col-sm">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm">
                                    <span class="baslik_footer_link">
                                        Kurumsal
                                    </span>
                                    <br><br>
                                    <ul class="footer_ul">
                                        <li class="footer_link"><a href="/">Anasayfa</a></li>
                                        <li class="footer_link"><a href="/about">Hakkımızda</a></li>
                                        <li class="footer_link"><a href="/hizmetler/hizmetlerimiz">Hizmetler</a></li>
                                        <li class="footer_link"><a href="/contact">İletişim</a></li>
                                        <li class="footer_link"><a href="/kariyer">Kariyer</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm">
                                    <span class="baslik_footer_link">
                                        İletişim
                                    </span>
                                    <br><br>
                                    <ul class="footer_ul">
                                        <li class="footer_link"><a href="/contact">Fiyat Alın</a></li>
                                        <li class="footer_link"><a href="tel:02627549560">0262 754 9560</a></li>
                                        <li class="footer_link"><a href="tel:02622902604">Faks: 0262 290 2604</a></li>
                                        <li class="footer_link" style="font-size: 10px;"><a href="mailto:syilmaz@ovasanmuhendislik.com">syilmaz@ovasanmuhendislik.com</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm">
                                    <span class="baslik_footer_link">
                                        Hızlı Erişim
                                    </span>
                                    <br><br>
                                    <ul class="footer_ul">
                                        <li class="footer_link"><a href="/about">Hakkımızda</a></li>
                                        <li class="footer_link"><a href="/hizmetler/hizmetlerimiz">Hizmetler</a></li>
                                        <li class="footer_link"><a href="/contact">İletişim</a></li>
                                        <li class="footer_link"><a href="/kariyer">Kariyer</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <br>
                        <hr style="border: 1px solid white;">
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm" style="text-align: center;">
                        <span>Copyright © 2025 Ovasan Teknik Mühendislik. Tüm
                            hakları saklıdır.</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
