<link rel="stylesheet" href="../../static/css/footer.css">

<div class="container-fluid footer-main">
    <div class="row">
        <div class="col-sm">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <h4 class="footer_baslik">
                            Lorem ipsum sit amem
                        </h4>

                        <span class="footer_metin">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut la
                        </span>
                    </div>
                    <div class="col-sm" style="text-align: end;">
                        <img src="../../static/img/main/logo.png"
                            alt="logo footer" class="img-fluid">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <br>
                        <hr style="border: 1px solid white;">
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <h4 class="footer_logoyer">
                            LOGO
                        </h4>
                        <p>Lorem ipsum dolor sit amet,
                            <br> do eiusmod tempor incididunt</p>
                    </div>
                    <div class="col-sm">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm">
                                    <span class="baslik_footer_link">
                                        Lorem Ipsum
                                    </span>
                                    <br><br>
                                    <ul class="footer_ul">
                                        <li class="footer_link"><a href="#">Link
                                                bir</a></li>
                                        <li class="footer_link"><a href="#">Link
                                                bir</a></li>
                                        <li class="footer_link"><a href="#">Link
                                                bir</a></li>
                                        <li class="footer_link"><a href="#">Link
                                                bir</a></li>
                                        <li class="footer_link"><a href="#">Link
                                                bir</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm">
                                    <span class="baslik_footer_link">
                                        Lorem Ipsum
                                    </span>
                                    <br><br>
                                    <ul class="footer_ul">
                                        <li class="footer_link"><a href="#">Link
                                                bir</a></li>
                                        <li class="footer_link"><a href="#">Link
                                                bir</a></li>
                                        <li class="footer_link"><a href="#">Link
                                                bir</a></li>
                                        <li class="footer_link"><a href="#">Link
                                                bir</a></li>
                                        <li class="footer_link"><a href="#">Link
                                                bir</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm">
                                    <span class="baslik_footer_link">
                                        Lorem Ipsum
                                    </span>
                                    <br><br>
                                    <ul class="footer_ul">
                                        <li class="footer_link"><a href="#">Link
                                                bir</a></li>
                                        <li class="footer_link"><a href="#">Link
                                                bir</a></li>
                                        <li class="footer_link"><a href="#">Link
                                                bir</a></li>
                                        <li class="footer_link"><a href="#">Link
                                                bir</a></li>
                                        <li class="footer_link"><a href="#">Link
                                                bir</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <br>
                        <hr style="border: 1px solid white;">
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm" style="text-align: center;">
                        <span>Copyright © 2025 All Rights Reserved.</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>