{% extends 'layout.html' %}

{% block head %}
<title> {{data.title}} - Ovasan Mühendislik </title>
{% endblock head %}

{% block body_ortak %}
<style>
    .ortak {
    background-image: url(../../static/img/main/service_background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }
    
        .bck_blck {
            background-color: rgba(0, 0, 0, 0.6) !important;
            color: white;
        }


</style>

<div class="container-fluid bck_blck">
    <div class="row">
        <div class="col-sm">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <br><br><br><br><br><br>
                        <h1 style="font-size: 64px; font-weight: bolder;">
                            {{data.title}} </h1>
                        <br>
                        <div class="breadcrumb">
                            <a href="/"
                                style="margin-right: 5px; text-decoration: none; color: white;">Anasayfa</a>

                            <span style="display: inline-block; width: 6px; height: 6px; border-radius: 50%; background-color: red; margin: 0 6px; vertical-align: middle; position: relative; top: 9px;"></span>

                            <span style="color: red;"> {{data.title}} </span>
                        </div>
                        <br><br><br><br><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body_ortak %}

{% block body %}
<br><br>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <span style="font-weight: 500; font-size: 14px; color: #44444480;">PROJE</span><img src="../../static/img/main/rediv.png" alt="yan çizgi kırmızı" class="img-fluid" style="margin-left: 5px;">
            <br>
            <span style="font-weight: 800; color: #0F172A; font-size: 36px;">HİZMETLERİ</span>

            <br><br>
            <div class="list-group" style="border-radius: 20px;">
                <div class="list-group-item"
                    style="background-color: red; color: white; font-weight: bolder; padding: 16px 20px;">
                    Hizmetlerimiz
                </div>
                {% if other_services == [] %}
                <div class="list-group-item" style="padding: 16px 20px;">Henüz başka hizmet bulunmamaktadır.</div>
                {% else %}
                {% for item in other_services %}
                <a href="/h/{{item.category_slug}}/{{item.slug}}"
                    class="list-group-item list-group-item-action"
                    style="padding: 16px 20px;">
                    {{item.title}}
                    <i class="bi bi-arrow-up-right" style="float: right; opacity: 0.7;"></i>
                </a>
                {% endfor %}
                {% endif %}
            </div>
            <br><br>
        </div>
        <div class="col-sm-8">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm">
                        <img src="../../static/uploads/services/{{data.image}}"
                            alt
                            class="img-fluid" style="border-radius: 50px;">

                        <br><br>

                        {% if data.text1 %}<p>{{data.text1}}</p>{% endif %}

                        {% if data.text2 %}<p>{{data.text2}}</p>{% endif %}

                        <br><br><br>

                        {% if data.main_heading %}
                        <h2 style="font-size: 50px;">
                            {{data.main_heading}}
                        </h2>
                        {% endif %}

                        {% if data.text3 %}<p>{{data.text3}}</p>{% endif %}
                    </div>
                </div>
                {% if data.subtitle1 or data.subtitle2 %}
                <div class="row" style="margin-top: 60px;">
                    {% if data.subtitle1 %}
                    <div class="col-sm">
                        <h4 style="font-weight: bolder;">{{data.subtitle1}}</h4>
                        {% if data.text4 %}<p>{{data.text4}}</p>{% endif %}
                        <br>
                    </div>
                    {% endif %}
                    {% if data.subtitle2 %}
                    <div class="col-sm">
                        <h4 style="font-weight: bolder;">{{data.subtitle2}}</h4>
                        {% if data.text5 %}<p>{{data.text5}}</p>{% endif %}
                        <br>
                    </div>
                    {% endif %}
                </div>
                {% endif %}
                {% if data.subtitle3 or data.subtitle4 %}
                <div class="row">
                    {% if data.subtitle3 %}
                    <div class="col-sm">
                        <br>
                        <h4 style="font-weight: bolder;">{{data.subtitle3}}</h4>
                        {% if data.text6 %}<p>{{data.text6}}</p>{% endif %}
                    </div>
                    {% endif %}
                    {% if data.subtitle4 %}
                    <div class="col-sm">
                        <br>
                        <h4 style="font-weight: bolder;">{{data.subtitle4}}</h4>
                        {% if data.text7 %}<p>{{data.text7}}</p>{% endif %}
                    </div>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<br><br><br><br><br>
{% endblock body %}
